@model NABWebsite.Models.MyProfileModel

<script>

    function submitChangedImage() {
        $("#captionError").empty();
        if ($("#MyProfile_ImageCaption").val() != "") {
            $("#myProfileForm").attr("action", '@Url.Action("ChangeImage", "MyProfile")');
            $("#myProfileForm").attr("method", "post");
            $("#myProfileForm").submit();
        } else {
            $("#captionError").html("Please enter Image Caption");
            $("#MyProfile_ImageCaption").focus();
        }
    }


    function ConfirmPage(value) {
     
        successImage();
        $('#confirmStep img').prop('src', value.src);
        $('#confirmStep img').prop('id', value.id);
        $('#MyProfile_SelectedImageId').val(value.id);
        $("#MyProfile_ImageCaption").focus();
    }

</script>


@Html.HiddenFor(x => x.MyProfile.SelectedImageId)


    <div style="width:95%;margin:auto">
        <div class="panel panelStyle">
            <div class="panel-heading text-left panelHeadingStyle panelHeadingGreen">

                <h3 class="panel-title panelTitleStyle" style="color:#1c01c2">Change Image </h3>
            </div>
            <div class="panel-body">

                <div id="firstStep" style="margin:auto;width:75%;" role="alert">

                    Select a security image from the samples below.
                    <br />
                    <div style="height:auto;text-align:center">
                        <button type="button" id="previous" class="btn btn-link" style="color:#183a57;" aria-label="Previous" onclick="GetChangeImage()">< Previous</button>
                        @foreach (var item in Model.MyProfile.SecureImageList)
                        {
                            var itemContent = item.ImageContent;
                            var base64 = Convert.ToBase64String(item.ImageContent);
                            var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                            <img src="@imgSrc" id="@item.ImageId" alt="@item.ImageTitle" tabindex="0" onkeypress="if (event.keyCode == 32 || event.keyCode == 13) { $(this).trigger('click') }" class="security_image" onclick="ConfirmPage(this)" />

                        }


                        <button type="button" id="next" class="btn btn-link" aria-label="Next" style="color:#183a57;" onclick="GetChangeImage()">Next ></button>


                        <br />
                        <p style="text-align:justify;">
                            A security image can ensure personal information is secure by protecting users from fraud and identity theft.
                            It validates the user's chosen image at login from the Cofinity website rather than a look-alike site.
                        </p>
                    </div>
                </div>

                    <div id="confirmStep" class="hidden" style="margin:auto;width:95%;">
                        <div style="text-align:center;">

                           
                            <img id="" alt="" src="" class="selected_security_image" />
                        </div>
                        <br /><br />
                        <div class="Radioheader" style="text-align:right;float:left;width:43%;" ><span class="required">*</span>Image Caption:<label class="HideData" for="MyProfile_ImageCaption">Image Caption:</label>  &nbsp; &nbsp;</div>
                        <div class="" style="text-align:left;float:right;width:57%;"> &nbsp;@Html.TextBoxFor(m => m.MyProfile.ImageCaption, new { aria_describedby = "captionError securityMsg", required = "required" })
                            <div class="Radioheader required" id="captionError" style="color:#9c1f4d"></div>
                        </div>

                        <div class="layout_clear" ></div>
                        <br />
                        <p id="securityMsg" style="text-align:center;margin:auto;">
                            *Required Field. Enter any copy you would like as a caption.<br />
                            For your security, please do not use your login ID or password as the image caption.
                        </p>
                    </div>
                    <br />
                </div>
            </div>
            <br />
        </div>
        <br />
      
            <div class="submitDiv">
                <span style="float:left;width:45%;text-align:right">
                    &nbsp;
                    <input class=" btn btn-primary  btnStyle btnGreen hidden" style="color:#1c01c2" aria-label="Update Button" type="button" value="Update" id="Submit_Btn" onclick="submitChangedImage()" />
                </span>
                <span style="float:left;width:50%;margin-left:0.5%;">
                    <button type="reset" class="btn btnStyle btnGreen" style="color:#1c01c2" aria-label="Cancel Button" onclick="clearAll()">Cancel</button>
                </span>
                <div class="layout_clear"></div>
            </div>

      
